# ROS Catkin build files
# These are generated when you run `catkin build`
build/
devel/
install/

# ROS log files
logs/

# Python temporary files
*.pyc
__pycache__/

# OS-specific and editor files
.DS_Store
*.swp

# User-specific IDE settings
.vscode/
.idea/